---
---

@import "{{ site.theme }}";

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

	footer {
		border-top: 1px solid #ccc;
		margin:0 84px 0 50px;
		padding:0;
	}

  header {
    padding-right:640px;
  }

  section {
    padding:20px 84px 20px 50px;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:130px;
    top:84px;
  }
}
